.image-overlay {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    text-align: center;
}
.overlay-image {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}
.close-btn {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    cursor: pointer;
}
